src/main/resources/schemas/xsd/operations.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://mathApp/math-simple-backend-web-service"
           targetNamespace="http://mathApp/math-simple-backend-web-service"
           elementFormDefault="qualified">

    <xs:element name="getOperationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="value1" type="xs:long"/>
                <xs:element minOccurs="0" name="value2" type="xs:long"/>
                <xs:element minOccurs="0" name="operation" nillable="true" type="tns:operation"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="operationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="response" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="operation">
        <xs:restriction base="xs:string">
            <xs:enumeration value="plus"/>
            <xs:enumeration value="subtract"/>
            <xs:enumeration value="multiply"/>
            <xs:enumeration value="divide"/>
            <xs:enumeration value="stall"/>
            <xs:enumeration value="other"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
